In [1]:
*************************************************PYTHON BASIC****************************************************************

PYTHON IS A GENERAL PURPOSE HIGH PROGRAMMING LANGUAGE
PYTHON IS A POPULAR PROGRAMING LANGUAGE
IT WAS CREATE BY"GUIDO VAN ROSSUM" AND RELEASED IN 1991
===============================================================================================================================
                                             IT IS USED FOR 
1 WEB DEVELOPMENT
2 SOFTWARE DEVELOPMENT
3 MATHEMATICS
4 SYSTEM SCRIPTING
===============================================================================================================================
                                            WHY ITS POPULAR LANGUAGE
PYTHON USE FOR !
1 MACHINE LEARNING(MI)
2 ARTIFICAL INTELLIGENCE(AI)
3 DEPP LEARNING(DP)
3 DATA SCIENCE(DC)
===============================================================================================================================
                                        MOST POPULAT LAIBIRARY IN PYTHON
1 NUMPY 
2 PANDAS
==============================================================================================================================
                                           WHAT CAN PYTHON DO 
    
1 PYTHON CAN BE USED ON A SERVER TO CREATE WEB APPLICTAION
2 PYTHON CAN BE USED ALONG SIDE SOFTWARE TO CREATE WORKFLOWS
3 PYTHON CAN CONNECTED TO DATA BASE SYSTEMS IT CAN ALSO READ MODIFY FILES
3 PYTHON CAN BE USED TO HANDLE BIG DATA PERFORM COMPLEX MATHEMATICS
===============================================================================================================================
                                                 WHY PYTHON
    
* PYTHON WORK ON DIFFRENT PLATFOAM LIKE (WINDOW,MAC,LINUX,ETC)
* PYTHON HAS A SIMPLE SYNTAX THE SIMILAR TO THE ENGLISH LANGUAGE
* PYTHON RUNS ON A INTERPRETED LANGUAGE
==============================================================================================================================
                                            NUMBERS OF KEYWORDS IN PYTHON  
    
---- FALSE,NONE,TRUE,AND, AS,ASSERT,ASYNCE,BREAK,CLASS,CONTINOUS,DEF,DEL,ELIF,ELSE,EXCEPT,FINALLY,FOR FROM,GLE,IF,IMPORTTANT
     LAMBDA,NONLOCAL,NOT,OR,PASS, RAIS, RETURN ,TRY, WHILE,  WITH,YIELD----
==============================================================================================================================

SyntaxError: invalid syntax (Temp/ipykernel_13132/2502024079.py, line 1)

In [ ]:
print("hello")

In [ ]:
a=10
b=20
print(a*b)
print(a/b)
print(a-b)
print(a+b)

In [ ]:
AND OPERATOR THE TWO CONDITIOIN IS TRUE THEN IT GIVE THE ANSWEER IS TRUE OTHERWISE GIVE FALSE

In [4]:

print((3>4)and (5<6))

False

In [ ]:
OR operator the one CONDITION IS TRUE THEN OUPUT IS TRUE 
TWO CONTION IS FALSE THEN OULPUT IF FALSE

In [5]:
print((4>5)or(5>1))

True

In [ ]:
STRING= STRING LIKE MANY OTHER POPULAR PROGRAMING LANGUAGE,STRING IN PYTHON ARE ARRAYS OF BYTES REPRESENTING UNICODE CHARACTERS

In [8]:
str=['hello python']
str[0]

'hello python'

In [10]:
# stipe the left side space
str = str.lstrip()
str[0]
str[-1]

AttributeError: 'list' object has no attribute 'lstrip'

In [5]:
# stripe the right side space
str="hello  "
str = str.rstrip()
str[-1]

'o'

In [8]:
# stripe the left side space
str="  hello   "
str=str.lstrip()
str[0]

'h'

In [10]:
# strip from both side
str="  hello python  "
str = str.strip()
print(str[0])
print(str[-1])

h
n

In [13]:
str="ayan"
str[1::]
str[-1::]
str[1:3]

'ya'

In [14]:
str[::1]

'ayan'

In [19]:
a='ayan'
b='saify'
c='anas'
print('first name is {0} and last name is {1} and {2}'.format(a,b,c))
print('first name is',a,'last name is' ,b)

first name is ayan and last name is saify and anas
first name is ayan last name is saify

In [20]:
a,b="ayan",'saify'
a,b

('ayan', 'saify')

In [21]:
'eeeeeelwwwwwwww'.lstrip("e")

'lwwwwwwww'

In [22]:
'welocome'.lstrip('w')

'elocome'

In [23]:
'welcome'.rstrip('e')

'welcom'

In [ ]:
sent = 'welcome to dewas'
sentList = sent.split()
sentList
'ayan'.join(sentList)

In [ ]:
Q1-what is list?
   list is collection of element is ordered  and changable allows members
   LIST IS DENOTED BY []
list method
*append
*clear
*copy
*count
*extend
*index
*insert
*pop
*remove
*reverse
*sort

In [ ]:
* append = add an element at the end of the list

In [26]:
l=[2,3,4]
l.append(66)
l

[2, 3, 4, 66]

In [ ]:
* clear = Remove all the element from the list

In [27]:
l=[2,3,4]
l.clear()
l

[]

In [ ]:
* copy = return a copy of a list

In [28]:
l=[2,3,4,54]
l1=l.copy()
l1

[2, 3, 4, 54]

In [ ]:
* count = return the number of element with the specific value

In [36]:
l=[2,3,4,4,4,4,54,556]
x=l.count(4)
x

4

In [ ]:
* extend = Add the element of list to the end of current

In [40]:
l=[2,3,343,54,5]
l1=[2,34,4,656]
l.extend(l1)
l

[2, 3, 343, 54, 5, 2, 34, 4, 656]

In [ ]:
* index =Return the index of the first element with the specific value

In [42]:
l=[2,3,4,4]
x=l.index(4)
x

2

In [ ]:
* insert = Add an element with the specific position

In [43]:
l=[2,3,34,4]
l.insert(2,7777)
l

[2, 3, 7777, 34, 4]

In [ ]:
* pop = remove the element with the specific position

In [44]:
l=[2,3,34,45,5]
l.pop(3)
l

[2, 3, 34, 5]

In [ ]:
* remove = Remove the element with the specific value

In [45]:
l=[22222222222222,3,34,34,4,54]
l.remove(3)
l

[22222222222222, 34, 34, 4, 54]

In [ ]:
* reverse = reverse the order of the list

In [46]:
l=[3,4,4,54]
l.reverse()
l

[54, 4, 4, 3]

In [ ]:
*sort = sorts the list

In [47]:
l=[332,444,5,56,6,67]
l.sort()
l

[5, 6, 56, 67, 332, 444]

In [ ]:
Q2-What iS TRUPLE ?
      TRUPLE IS COLLECTION WHICH ORDERED AND UNCHANGEABLE ALLOWS DUBLICATE MEMBERS
TRUPLE ARE USED TO STORE MULTIPLE ITEAMS IN A SINGLE VARIABLE 
TRUPLE Are denoted by ()

TRUPLE METHOD !
* COUNT
* INDEX

In [ ]:
* count = Return the number of times a specified value occurs in a  tuple

In [50]:
l=(2,3,4,4)
x=l.count(4)
x

2

In [ ]:
* Index = Searches the truple for a specific value and retrun the position of where it was found

In [52]:
l=(2,3,4,4)
x=l.index(2)
x

0

In [ ]:
Q3-WHAT IS SET ?
    SET ARE  USED TO STORE MULTIPLE ITEAMS IN A SINGLE VARIABLES 
A SET IS  COLLECTION WHICH IS UNORDERED,UNCHANGEBLE
SET IS DENOTED BY {}

SET METHOD !
* ADD
* CLEAR
* DIFFERENCE
* DIFFRENCE UPDATE
* DISCARD
* INTERSECTION
* INTERSECTION UPDATE
* ISDISJOINT
* POP
* REMOVE
*SYMMETRIC DIFFRENT
* UNION
* UPDATE

In [ ]:
* ADD = ADD AND ELEMENT TO THE SET

In [57]:
l={'3','4'}
l.add('222')
l

{'222', '3', '4'}

In [ ]:
* CLEAR = REMOVE ALL THE ELEMENT FROM THE SET

In [58]:
l={'2','3'}
l.clear()
l

set()

In [ ]:
* COPY = RETURN THE COPY OF THE SET

In [60]:
l={'2','3'}
x=l.copy()
x

{'2', '3'}

In [ ]:
* DIFFERENCE = RETURN A SET CONTAIN THE DIFFRENCE B/W TWO OR MORE SET

In [62]:
x={'3','4'}
y={'4','5'}
z=y.difference(x)
z

{'5'}

In [63]:
x={'3','4'}
y={'4','5'}
z=x.difference(y)
z

{'3'}

In [ ]:
* DIFFRENCE UPDATE = REMOVE THE ITEMS IN THE SET THAT ARE INCLUDED IN ANOTHER SPECIFIED SET F

In [64]:
x={'3','4'}
y={'4','5'}
z=x.difference(y)
z

{'3'}

In [ ]:
* DISCARd = REMOVE THE SPECIFIC ITEM

In [66]:
x={'3','4','44'}
x.discard('44')
x

{'3', '4'}

In [ ]:
* INTERSECTION = RETURN A SET THAT IS THE INTERSECTION OF TWO OTHER SET

In [68]:
x={'3','4','44'}
y={'4','5','33'}
z=x.intersection(y)
z

{'4'}

In [69]:
x={'3','4','44'}
y={'4','5','33'}
z=y.intersection(x)
z

{'4'}

In [ ]:
* INTERSECTION UPDATE = Removes the items in this set that are not present in other, specified set(s)

In [72]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) 

print(x)

{'apple'}

In [ ]:
* isdisjoint = Returns whether two sets have a intersection or not

In [74]:
x={'3','4'}
y={'3','4'}
z=x.isdisjoint(y)
z

False

In [ ]:
* POP = REMOVE AN ELEMENT FROM THE SET

In [75]:
x={'3','4'}
x.pop()
x

{'3'}

In [ ]:
* REMOVE = REMOVE THE SPECIFIC ELEMENT

In [77]:
x={'3','4','3','4'}
x.remove('3')
x

{'4'}

In [79]:
* Symmetric differennce = RETURN  A SET WITH THE SYMMENTRIC DIFFRENCE OF TWO SETS

SyntaxError: invalid syntax (Temp/ipykernel_14928/1634580711.py, line 1)

In [81]:
x={'3','5'}
y={'3','9'}
z=y.symmetric_difference(x)
z

{'5', '9'}

In [ ]:
* symmetric_difference_update = inserts the symmetric differences from this set and another

In [82]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) 

print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
* union = retun the symmetric diffrence from this set and another

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'banana', 'microsoft', 'cherry', 'google', 'apple'}

In [ ]:
* update = update the set with the union of this set and other

In [86]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) 

print(x)

{'banana', 'microsoft', 'cherry', 'google', 'apple'}

In [ ]:
Q4-what is Dictionaries ?
     dictionaries are used to store data values in key : values pair 
A DICTIONARIES IS A COLLECTIONS WHICH ORDERED CHANGEABLE AND DO NOT ALLOWS DUPLICATE MEMBERS 
Dictionaries are written with curly brackets, and have keys and values:
IT IS DENOTED BY {}

DICTIONARIES METHOD !
* CLEAR 
* COPY 
* FROMKEYS
* GET 
* ITEMS
* KEYS 
* POP 
* POPITEMS
* SET DEFAULT
* VALUE 
* UPDATE

In [ ]:
* CLEAR = REMOVE ALL THE ELEMENT FROM THE DICNARY

In [1]:
a={'ayan':'shaikh','class':'12','school':'karrmdeep public school'}
a.clear()
a

{}

In [ ]:
* COPY = RETRUN A COPY OF A DICTIONARY

In [3]:
a= {'ayan':"classs"}
x=a.copy()
x

{'ayan': 'classs'}

In [ ]:
* FROMKEYS = RETURN THE DICTIONARY WITH THE SPECIFIC KEYS AND VALUES

In [6]:
a={'name':'ayan'}
b=1
x=dict.fromkeys(a,b)
x

{'name': 1}

In [7]:
x = ('key1', 'key2', 'key3')
y = 0

z = dict.fromkeys(x, y)


print(z)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
* GET = RETURN THE VALUES OF THE SPECIFIC KEYS

In [8]:
a={'ayan':'shaikh','class':'12'}
x=a.get('class')
x

'12'

In [ ]:
* ITEMS = RETRUN A LIST CONTAINING THE DICTIONARY KEYS

In [10]:
y = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = y.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
* keys = RETURN A LIST CONTAINING THE DICTIONARY KEYS

In [11]:
y = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x=y.keys()
x

dict_keys(['brand', 'model', 'year'])

In [ ]:
* POP = REMOVES THE ELEMNT WITH THE SPECIFIC KEYS

In [15]:
y = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
y.pop('brand')
y

{'model': 'Mustang', 'year': 1964}

In [ ]:
* SET DEFAULT = RETURN THE VALUE OF THE SPECIFIC KEYS IF THE KEY DOES NOT EXIST INSERT THE KEYS WITH THE SPECFIC VALUE

In [18]:
y = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = y.setdefault("model", "Bronco")

print(x)

Mustang

In [ ]:
* Values =  RETURN A LIST OF ALL THE VALUES IN THE DICTIONARY

In [21]:
x={'ayan':'shaikh','class':'12','school':'karmdeep'}     #return the values 
y=x.values()
y

dict_values(['shaikh', '12', 'karmdeep'])

In [22]:
x={'ayan':'shaikh','class':'12','school':'karmdeep'}    #return the keys 
y=x.keys()
y

dict_keys(['ayan', 'class', 'school'])

In [ ]:
* UPDATE = UPDATE THE DICTIONARY WITH THE SPECIFIC KEYS AND VALUES PAIR

In [24]:
x={'ayan':'shaikh','class':'12','school':'karmdeep'}
x.update({'roll no ':'12344'})
x

{'ayan': 'shaikh', 'class': '12', 'school': 'karmdeep', 'roll no ': '12344'}

In [28]:
profile = {'first':'tosif','last':'khan'}
for k,v in profile.items():
    print(k)
    print(v)

first
tosif
last
khan

In [31]:
for keys in profile:
    print(v)

khan
khan

In [33]:
for value in profile:
    print(k)

last
last

In [34]:
profile.values()

dict_values(['tosif', 'khan'])

In [36]:
profile.keys()

dict_keys(['first', 'last'])

In [37]:
num=0
if num>0:
    print('true')
elif num<10:
    pass
else:
    print('falser')

In [42]:
for i in range(1,10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [ ]:
l = [1,2,3,4,5]
i = 0
while i < len(l):  # i < 5 # 0,1,2,3,4
    print(l[i])
    i+=1

In [44]:
for i in l:
    print(i)

1
2
3
4
5

In [45]:
sent = ['words','are','awesome']
for i in sent:
    print(i)

words
are
awesome

In [49]:
sent = ['words','are','awesome']     # STORE THE VALUE IN NEWSEND 
newsend=[]
for val in sent:
    newsend.append(val)
newsend

['words', 'are', 'awesome']

In [51]:
sent = ['words','are','awesome']
vowels=['a','e','i','o','u']
newsend=[]
for val in sent:
    if val[0] in vowels:
        newsend.append(val)
newsend

['are', 'awesome']

In [62]:
sent = ['WorDs','ARe','AweSoME']        # isupper 
newsend=[]
for val in sent:
    for alp in val :
        if alp.isupper():
            newsend.append(alp)
newsend

['W', 'D', 'A', 'R', 'A', 'S', 'M', 'E']

In [63]:
sent = ['WorDs','ARe','AweSoME']         #islower
for val in sent:
    for alp in val :
        if alp.islower():
            newsend.append(alp)
newsend

['o', 'r', 's', 'e', 'w', 'e', 'o']

In [67]:
newsent=[alp for val in sent for alp in val if alp.isupper()]
newsent

['W', 'D', 'A', 'R', 'A', 'S', 'M', 'E']

In [68]:
newsent=[alp for val in sent for alp in val if alp.islower()]
newsent

['o', 'r', 's', 'e', 'w', 'e', 'o']

In [70]:
std={1:['12','ayan'],
     2:['24','saify'],
     3:['36','faizan'],
     4:['48','anas']
    }
std

{1: ['12', 'ayan'], 2: ['24', 'saify'], 3: ['36', 'faizan'], 4: ['48', 'anas']}

In [73]:
for k,v in std.items():
    print(k)

1
2
3
4

In [74]:
for k,v in std.items():
    print(v)

['12', 'ayan']
['24', 'saify']
['36', 'faizan']
['48', 'anas']

In [87]:
std = { 0 : [12,'ayan'],
        1 : [34,'himanshu'],
        3 : [32,'aliyanz'],
        4 : [56,'sajid']   }
present=[]
for k,v in std.items():
    if v[0] <50:
        present.append(v[1])
present

[12, 34, 32]

In [91]:
std = { 0 : [12,'ayan'],
        1 : [34,'himanshu'],
        3 : [32,'aliyanz'],
        4 : [56,'sajid']   }
heyy=[v[1] for k,v in std.items() if v[0] < 50 ]
#for k,v in std.items():
 #   if  v[0] < 50:
 #       heyy.append(v[0])
heyy

['ayan', 'himanshu', 'aliyanz']

In [95]:
std = { 0 : [12,'ayan'],
        1 : [34,'himanshu'],
        3 : [32,'aliyanz'],
        4 : [56,'sajid']   }
hlw=[v[0] for k,v in std.items() if v[1][0] in vowels]
#vowels=['a','e','i','o','u']
#for k,v in std.items():
 #   if v[1][0] in vowels:
  #      hlw.append(v[1])
hlw

[12, 32]

In [ ]:
Q5-WHAT IS FUNCTIONS ?
     A FUNCTION IS A BLOCK OF CODE WHICH ONLY RUN WHEN IT IS CALLED YOU CAN PASS DATA KNOW AS PARAMETER,INTO A FUNCTIONS
A FUNCTION CALLED RETURN A DATA AS A RESULT 

In Python a function is defined using the def keyword:

*  NO ARGUMENT NO RETURN 
*  ARGUMENT BUT NO RETURN
*  RETURN BUT NO ARGUMENT 
*  ARGUMENT And RETURN

In [96]:
tup = (1,2,3,4)
sum = 0
for val in tup:
    sum += val
print(sum)

10

In [98]:
tup=[23,4,5]
sum=0
for l in tup:
    sum=sum+l
print(sum)

32

In [101]:
def fun():
    print('this is function')
fun()

this is function

In [103]:
def anas():
    num1=int(input('enter the number'))     #  NO ARRGUMENT NO RETURN
    num2=int(input('enter the number'))
    num3=num1+num2
    print(num3)
anas()

enter the number22
enter the number33
55

In [6]:
def sum(num1,num2):                                  # ARGUMENT BUT NO RETURN 
    num3=num1+num2              
    print(num3)
def sub(a,b):
    num3=a-b
    print(num3)
num1=int(input('enter the number='))
num2=int(input('enter the number='))
sum(num1,num2)
sub(num1,num2)

enter the number=2
enter the number=2
4
0

In [3]:
def sum():                                 # NO ARGUMENT BUT RETURN 
    num1=int(input ('enter the number='))
    num2=int(input('enter the number='))
    c=num1+num2
    return c
sum()

enter the number=2
enter the number=2

4

In [8]:
def sum(a,b):                           #  ARGUMENT AND RETURN 
    return a+b
num1=int(input('enter the number='))
num2=int(input('enter the number='))
num3=sum(num1,num2)
print(num3)

enter the number=2
enter the number=2
4